body{
  margin: 0;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-family: sans-serif;
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
